html, body { 
    margin: 0; padding: 0;
    height: 100%; 
    overflow: hidden;
}
html {
    background-color: black;
}

body {
    background: url(https://source.unsplash.com/collection/495468/1920x1080) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.0;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes background {
    from {opacity: 0.2;}
    to {opacity: 1;}
}

/* Standard syntax */
@keyframes background {
    from {opacity: 0.2;}
    to {opacity: 1;}
}

/*
#lit_quote {

}
*/
#lit_quote em {
    font-weight: 900;
    color: rgb(19, 19, 19);
    font-style: normal
}


#main_text {
    width: 80vw;
    margin: auto; 
    color: dimgrey;
    font-family: 'Merriweather', Times, serif;
}

cite {
    float: right;
    padding-left: 10vw;
    font-size: 2.3vw;
}
cite #book{
    font-style: normal;
}

#buttom {
    height: 10px; 
    width: 90%;
    position: fixed; 
    bottom:2%;
    color: dimgray;
    padding-left: 40px;
    padding-right: 0px;

}
#buttom a, a:visited {
    color: rgb(66, 66, 66)
}

#github {
    display: inline;
    padding-right: 5px;
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: dimgray;
}

#based_on {
    padding-left: 5px;
}