html, body { 
    margin: 0; padding: 0;
    height: 100%; 
    overflow: hidden;
}
html {
    background-color: black;
}

body {
    background: url(https://source.unsplash.com/collection/12011365/1920x1080) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.0;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}


#lit_quote {
	background: inherit;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    filter: invert(1) grayscale(1) contrast(9);
}

#lit_quote em {
	background: inherit;
    font-style: normal;
	font-size: 16pt;
}


#main_text {
	background: inherit;
    width: 80vw;
    margin: auto; 
    color: dimgrey;
    font-family: 'Merriweather', Times, serif;
}

cite {
    float: right;
    padding-left: 10vw;
    font-size: 2.3vw;
}
cite #book{
    font-style: normal;
}

#buttom {
    height: 10px; 
    width: 90%;
    position: fixed; 
    bottom:2%;
    color: dimgray;
    padding-left: 40px;
    padding-right: 0px;

}
#buttom a, a:visited {
    color: rgb(66, 66, 66)
}

#github {
    display: inline;
    padding-right: 5px;
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: dimgray;
}

#based_on {
    padding-left: 5px;
}